.card {
  border: none;
  border-radius: 10px;
  padding: 15px;
}


.card-title {
  color: #000000;
}

.job-type {
  list-style-type: none;
  margin-top: 25px;
}

.badge {
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #FFFFFF;
  padding: 8px;
}

.btn-bts {
  text-decoration: none;
}

.d-grid {
  margin-top: 25px;
}